/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
.coverage
/*.egg-info
/.installed.cfg
*.pyc
/.Python
/include
/lib
/pip-selfcheck.json
/pyvenv.cfg
/.project
/.pydevproject
/.mr.developer.cfg
/src
/share
*.mo
*.swp
*.swo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
.vscode/
