[buildout]
develop = .
parts =
    node
    test
    scripts
    code-analysis
versions = versions

[node]
recipe = gp.recipe.node
npms = csslint jshint jscs
scripts = csslint jshint jscs

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs = plone.recipe.codeanalysis [test]

[scripts]
recipe = zc.recipe.egg
eggs = zest.releaser

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/plone/recipe/codeanalysis
pre-commit-hook = True
clean-lines = True
csslint = False
debug-statements = False
deprecated-aliases = True
flake8-max-complexity = 12
imports = True
jshint = False
pep3101 = False
prefer-single-quotes = True
return-status-codes = False
utf8-header = True
# this options only take efect if the dependencies are installed
find-untranslated = True
i18ndude-bin = ${buildout:directory}/bin/i18ndude
zptlint = True
zptlint-bin = ${buildout:directory}/bin/zptlint

[versions]
setuptools = 0.9.8
distribute = 0.6.49
zc.buildout = 1.7.1
zc.recipe.egg = 1.3.2
zope.testrunner = 4.0.4
transaction = 1.2.0
